<div class="container">
    <div class="div1">
        
        
        <form [formGroup]="codigoForm" (ngSubmit)="onBuscarUsuario(codigoForm)">
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" id="floatingCodigo" class="form-control" formControlName="codigo">
                        <label for="floatingCodigo"><b>Código:</b></label>
                    </div>
                </div>
                <div class="col">
                    <input type="submit" class="fadeIn fourth" value="Buscar">
                </div>
            </div>
        </form>
        <div class="form-floating mb-3" [formGroup]="dashboardForm">
            <input type="text" class="form-control" id="floatingNombre" formControlName="nombre" readonly>
            <label for="floatingNombre"><b>Nombre:</b></label>
        </div>
        <div class="form-floating mb-3" [formGroup]="dashboardForm">
            <input type="text" class="form-control" id="floatingApellido" formControlName="apellido" readonly>
            <label for="floatingApellido"><b>Apellido:</b></label>
        </div>
        <div class="form-floating mb-3" [formGroup]="dashboardForm">
            <input type="text" class="form-control" id="floatingEdad" formControlName="edad" readonly>
            <label for="floatingEdad"><b>Edad:</b></label>
        </div>
        <div class="form-floating mb-3" [formGroup]="dashboardForm">
            <input type="text" class="form-control" id="floatingCuenta" formControlName="cuenta" readonly>
            <label for="floatingCuenta"><b>Número de cuenta:</b></label>
        </div>
        <div class="form-floating mb-3" [formGroup]="dashboardForm" *ngIf="esCliente">
            <input type="text" class="form-control" id="floatingFechaCreacion" formControlName="fechaCreacion" readonly>
            <label for="floatingFechaCreacion"><b>Fecha creación:</b></label>
        </div>
        <div class="form-floating mb-3" [formGroup]="dashboardForm" *ngIf="!esCliente">
            <input type="text" class="form-control" id="floatingCargo" formControlName="cargo" readonly>
            <label for="floatingCargo"><b>Cargo:</b></label>
        </div>
        <div class="form-floating mb-3" [formGroup]="dashboardFormSaldo">
            <input type="number" class="form-control" id="floatingSaldo" formControlName="saldoActual" readonly>
            <label for="floatingSaldo"><b>Saldo actual:</b></label>
        </div>   
    </div>
    <div class="div2">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Identificador</th>
                <th scope="col">Cuenta</th>
                <th scope="col">Tipo</th>
                <th scope="col">Monto</th>
                <th scope="col">Descripción</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let movimiento of lstMovimientos">
                    <th scope="row">{{ movimiento.id }}</th>
                    <td>{{ movimiento.cuenta }}</td>
                    <td>{{ movimiento.tipo }}</td>
                    <td>{{ movimiento.monto }}</td>
                    <td>{{ movimiento.descripcion }}</td>
                </tr>
            </tbody>
          </table>
    </div>
</div>